.message{
    padding: 20px;

}

.user{
    background-color: #2c2937;
    border-radius: 25px;
    max-width: 80%;
    align-self: flex-end;
}
.ai{
    background-color: #2c2937;
    border-radius: 25px;
    max-width: 80%;
    align-self: flex-start;

}

.ChatPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* To prevent the entire component from scrolling within the viewport */
}

.wrapper {
    flex: 1;
    overflow-y: auto; /* Enables scrolling for long messages */
    display: flex;
    justify-content: center;
    align-items: center;
}
